automation/n8n/workflows/01-canada-blog-draft-webhook.json
{
  "name": "CitizenReady — Canada blog draft (Webhook → Claude → Drive)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "citizenready-canada-blog-draft",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-aa11bb22",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "citizenready-canada-blog-draft"
    },
    {
      "parameters": {
        "jsCode": "/**\r\n * n8n Code node — place after Webhook. Normalizes POST JSON body.\r\n * Handles n8n shapes: body object, stringified JSON, top-level fields, or nested data/json.\r\n */\r\nfunction pickPayload(root) {\r\n  let raw = root?.body ?? root?.data ?? root?.json ?? root;\r\n  if (typeof raw === 'string') {\r\n    try {\r\n      raw = JSON.parse(raw);\r\n    } catch {\r\n      throw new Error('Webhook body must be JSON with title and context');\r\n    }\r\n  }\r\n  if (!raw || typeof raw !== 'object' || Array.isArray(raw)) {\r\n    throw new Error('Invalid webhook payload: expected JSON object with title and context');\r\n  }\r\n  return raw;\r\n}\r\n\r\nconst b = pickPayload($json);\r\nconst title = String(b.title ?? '').trim();\r\nconst context = String(b.context ?? '').trim();\r\nconst cover_image_url = String(b.cover_image_url ?? b.coverImageUrl ?? '').trim();\r\nif (!title) throw new Error('title is required');\r\nif (!context) throw new Error('context is required');\r\nreturn [{ json: { title, context, cover_image_url } }];\r\n"
      },
      "id": "code-normalize-cc33dd44",
      "name": "Normalize input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\r\n * n8n Code node — place after \"Normalize input\". Calls Claude Messages API only.\r\n * Env:\r\n *   ANTHROPIC_API_KEY   — required\r\n *   ANTHROPIC_MODEL     — optional, default claude-sonnet-4-20250514\r\n * Sync with prompts in automation/n8n/prompts/openai-blog-system.txt\r\n */\r\nfunction stripJsonFence(s) {\r\n  let t = String(s || '').trim();\r\n  t = t.replace(/^```(?:json)?\\s*/i, '');\r\n  t = t.replace(/\\s*```$/i, '');\r\n  return t.trim();\r\n}\r\n\r\n// Keep aligned with automation/n8n/prompts/openai-blog-system.txt\r\nconst SYSTEM = `You are an editor for a Canada-focused travel and culture blog (CitizenReady).\r\n\r\nCRITICAL: The user message includes a Title hint and a Context block. Write the article ONLY from that Context. Expand, organize, and polish the ideas already in the Context. Do not switch to unrelated Canadian topics, places, or stories. Do not replace the user's topic with generic \"Canada travel\" filler. If the Context is brief, stay on that topic and develop it sensibly rather than inventing a different theme.\r\n\r\nRules:\r\n- Every section must clearly follow from the supplied Context. Title and excerpt must match this specific topic.\r\n- Keep content appropriate for Canada-focused readers (travel, cities, culture, etc.) only as it fits the Context.\r\n- Warm, informative tone. No clickbait. If unsure of a fact, qualify it or avoid inventing statistics.\r\n- Output ONLY valid JSON (no markdown fences). Schema:\r\n{\r\n  \"title\": \"string, compelling and specific\",\r\n  \"slug\": \"optional string, lowercase hyphenated; may be omitted\",\r\n  \"excerpt\": \"string, max 300 chars, summary for listings\",\r\n  \"cover_image\": \"optional absolute https URL if user did not supply one and you suggest a placeholder from a reputable free stock/CDN — only https URLs\",\r\n  \"publish\": true,\r\n  \"blocks\": [\r\n    { \"type\": \"h2\", \"text\": \"Section title\" },\r\n    { \"type\": \"paragraph\", \"text\": \"Body ...\" },\r\n    { \"type\": \"image\", \"src\": \"https://...\", \"alt\": \"...\", \"layout\": \"center_large\" }\r\n  ]\r\n}\r\n- Include at least 3 h2 sections and several paragraphs. You may add one or two h3s where useful.\r\n- blocks must represent the full article in reading order.`;\r\n\r\nconst input = $json;\r\nconst userMessage = `Write the full blog post using ONLY the information and angle below.\r\n\r\nTitle hint: ${input.title}\r\n\r\nContext — sole source for topics, facts, and emphasis (stay faithful):\r\n${input.context}\r\n\r\nOptional cover image URL (use in output when provided): ${input.cover_image_url || 'none'}`;\r\n\r\nconst key = String($env.ANTHROPIC_API_KEY || '').trim();\r\nif (!key) throw new Error('ANTHROPIC_API_KEY is required');\r\nconst model = String($env.ANTHROPIC_MODEL || 'claude-sonnet-4-20250514').trim();\r\n\r\nconst res = await this.helpers.httpRequest({\r\n  method: 'POST',\r\n  url: 'https://api.anthropic.com/v1/messages',\r\n  headers: {\r\n    'x-api-key': key,\r\n    'anthropic-version': '2023-06-01',\r\n    'content-type': 'application/json',\r\n  },\r\n  body: {\r\n    model,\r\n    max_tokens: 8192,\r\n    temperature: 0.35,\r\n    system: SYSTEM,\r\n    messages: [{ role: 'user', content: userMessage }],\r\n  },\r\n  json: true,\r\n});\r\n\r\nconst block = Array.isArray(res.content) ? res.content.find((c) => c.type === 'text') : null;\r\nconst llmJsonText = stripJsonFence(block?.text);\r\nif (!llmJsonText) throw new Error('Claude response missing text content');\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      llmJsonText,\r\n      _llmProvider: 'anthropic',\r\n    },\r\n  },\r\n];\r\n"
      },
      "id": "code-llm-aabbcc99",
      "name": "LLM (Claude)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\r\n * n8n Code node — run once per item, after \"LLM (Claude)\".\r\n * Input item 0: { llmJsonText } from call-llm-claude.js\r\n * Form fields: node FORM_NODE (webhook normalize).\r\n */\r\nconst FORM_NODE = 'Normalize input';\r\n\r\nfunction slugify(s) {\r\n  return String(s || '')\r\n    .toLowerCase()\r\n    .trim()\r\n    .replace(/[^a-z0-9]+/g, '-')\r\n    .replace(/^-+|-+$/g, '')\r\n    .slice(0, 96);\r\n}\r\n\r\nfunction blocksToTiptap(blocks) {\r\n  const content = [];\r\n  for (const b of blocks || []) {\r\n    if (!b || !b.type) continue;\r\n    const t = String(b.text || '').trim();\r\n    if (!t && b.type !== 'paragraph') continue;\r\n    if (b.type === 'h1') {\r\n      content.push({\r\n        type: 'heading',\r\n        attrs: { level: 1 },\r\n        content: [{ type: 'text', text: t }],\r\n      });\r\n    } else if (b.type === 'h2') {\r\n      content.push({\r\n        type: 'heading',\r\n        attrs: { level: 2 },\r\n        content: [{ type: 'text', text: t }],\r\n      });\r\n    } else if (b.type === 'h3') {\r\n      content.push({\r\n        type: 'heading',\r\n        attrs: { level: 3 },\r\n        content: [{ type: 'text', text: t }],\r\n      });\r\n    } else if (b.type === 'paragraph') {\r\n      content.push({\r\n        type: 'paragraph',\r\n        content: t ? [{ type: 'text', text: t }] : [],\r\n      });\r\n    } else if (b.type === 'image' && b.src) {\r\n      content.push({\r\n        type: 'image',\r\n        attrs: {\r\n          src: String(b.src),\r\n          alt: b.alt ? String(b.alt) : null,\r\n          title: null,\r\n          layout: b.layout || 'center_large',\r\n        },\r\n      });\r\n    }\r\n  }\r\n  return { type: 'doc', content };\r\n}\r\n\r\nconst form = $(FORM_NODE).first().json;\r\nconst raw = items[0].json?.llmJsonText;\r\nif (!raw || typeof raw !== 'string') {\r\n  throw new Error('Expected llmJsonText from LLM node');\r\n}\r\n\r\nlet ai;\r\ntry {\r\n  ai = JSON.parse(raw);\r\n} catch {\r\n  throw new Error(`Model did not return valid JSON. First 300 chars: ${raw.slice(0, 300)}`);\r\n}\r\n\r\nconst title = String(ai.title || form.title || '').trim();\r\nconst slug = slugify(ai.slug || title);\r\nconst excerpt = String(ai.excerpt || '').trim().slice(0, 300);\r\nconst coverFromForm = String(form.cover_image_url || '').trim();\r\nconst coverFromAi = String(ai.cover_image || '').trim();\r\nconst cover_image = coverFromForm || coverFromAi || null;\r\n\r\nconst content = blocksToTiptap(ai.blocks);\r\n\r\n/** Payload written to Drive + consumed by sync workflow */\r\nconst blogDraft = {\r\n  title,\r\n  slug,\r\n  excerpt: excerpt || null,\r\n  cover_image,\r\n  content,\r\n  /** Sync workflow maps this to Supabase status */\r\n  publish: ai.publish !== false,\r\n  source: 'n8n',\r\n  generated_at: new Date().toISOString(),\r\n};\r\n\r\nreturn [{ json: blogDraft }];\r\n"
      },
      "id": "code-tiptap-77001122",
      "name": "Build TipTap payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const slug = String($json.slug || 'post').replace(/[^a-z0-9-]/gi, '-');\nconst fileName = `blog-${slug}-${Date.now()}.json`;\nconst jsonStr = JSON.stringify($json, null, 2);\nconst buf = Buffer.from(jsonStr, 'utf8');\nconst bin = await this.helpers.prepareBinaryData(buf, fileName, 'application/json');\nreturn [{ json: $json, binary: { data: bin } }];"
      },
      "id": "code-binary-9900aabb",
      "name": "JSON to binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ 'blog-' + $json.slug + '-' + Date.now() + '.json' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1-Vm5cqZDkEicAlGck0OYPOx04lY5MV3A",
          "cachedResultName": "CitizenReady blog queue"
        },
        "options": {}
      },
      "id": "gdrive-upload-ccdd1122",
      "name": "Upload draft to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1400,
        300
      ],
      "credentials": {}
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "LLM (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TipTap payload": {
      "main": [
        [
          {
            "node": "JSON to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to binary": {
      "main": [
        [
          {
            "node": "Upload draft to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM (Claude)": {
      "main": [
        [
          {
            "node": "Build TipTap payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}