automation/n8n/workflows/02-canada-blog-sync-supabase.json
{
  "name": "CitizenReady — Queue folder → Supabase blog_posts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "cron-1001aaaa",
      "name": "Every 15 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1-Vm5cqZDkEicAlGck0OYPOx04lY5MV3A' in parents and mimeType = 'application/json' and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "id": "gdrive-list-2002bbbb",
      "name": "List queued JSON files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-3003cccc",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "driveFileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-driveid-4004dddd",
      "name": "Keep Drive file id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.driveFileId }}"
        },
        "options": {}
      },
      "id": "gdrive-dl-5005eeee",
      "name": "Download JSON",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1160,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\r\n * n8n Code node — after Google Drive Download of a blog JSON file.\r\n * Environment variables (Settings → Variables):\r\n *   SUPABASE_URL         — https://xxxx.supabase.co\r\n *   SUPABASE_SERVICE_ROLE_KEY — service_role JWT (never expose to browsers)\r\n *   CITIZENREADY_BLOG_AUTHOR_ID — UUID of an existing profiles.id to attribute posts\r\n *\r\n * Output: { inserted, skipped, slug, driveFileId, reason? }\r\n * Wire IF on `inserted` then Drive → Move to \"posted\" folder.\r\n */\r\nlet supabaseUrl = String($env.SUPABASE_URL || '').trim();\r\nif (supabaseUrl.endsWith('/')) supabaseUrl = supabaseUrl.slice(0, -1);\r\nconst key = String($env.SUPABASE_SERVICE_ROLE_KEY || '');\r\nconst authorId = String($env.CITIZENREADY_BLOG_AUTHOR_ID || '');\r\n\r\nif (!supabaseUrl || !key || !authorId) {\r\n  throw new Error('Set SUPABASE_URL, SUPABASE_SERVICE_ROLE_KEY, CITIZENREADY_BLOG_AUTHOR_ID in n8n variables');\r\n}\r\n\r\n/** With binaryDataMode: filesystem, binary.data is not raw base64 — use the helper. */\r\nlet text;\r\nif (typeof this.helpers.getBinaryDataBuffer === 'function') {\r\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\r\n  if (!buf?.length) throw new Error('Empty binary from Drive download');\r\n  text = buf.toString('utf8');\r\n} else {\r\n  const bin = items[0].binary?.data;\r\n  if (!bin?.data) throw new Error('Expected binary.data from Drive download');\r\n  text = Buffer.from(bin.data, 'base64').toString('utf8');\r\n}\r\n\r\nlet draft;\r\ntry {\r\n  draft = JSON.parse(text);\r\n} catch (e) {\r\n  const preview = text.slice(0, 120).replace(/\\s+/g, ' ');\r\n  throw new Error(`Drive file is not valid JSON (check file is UTF-8 blog draft). Preview: ${preview}`);\r\n}\r\n\r\nconst slug = String(draft.slug || '').trim();\r\nif (!slug) throw new Error('Draft missing slug');\r\n\r\nconst driveFileId = String($('Keep Drive file id').first().json.driveFileId || '').trim();\r\nif (!driveFileId) {\r\n  throw new Error('Missing driveFileId from node Keep Drive file id (run Set before Download).');\r\n}\r\n\r\nconst headers = {\r\n  apikey: key,\r\n  Authorization: `Bearer ${key}`,\r\n};\r\n\r\nconst checkUrl = `${supabaseUrl}/rest/v1/blog_posts?slug=eq.${encodeURIComponent(slug)}&select=id`;\r\n\r\nconst existing = await this.helpers.httpRequest({\r\n  method: 'GET',\r\n  url: checkUrl,\r\n  headers,\r\n  json: true,\r\n});\r\n\r\nif (Array.isArray(existing) && existing.length > 0) {\r\n  return [\r\n    {\r\n      json: {\r\n        skipped: true,\r\n        inserted: false,\r\n        reason: 'slug_already_exists',\r\n        slug,\r\n        driveFileId,\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\nconst publish = draft.publish !== false;\r\nconst row = {\r\n  title: draft.title,\r\n  slug: draft.slug,\r\n  excerpt: draft.excerpt ?? null,\r\n  cover_image: draft.cover_image ?? null,\r\n  content: draft.content,\r\n  author_id: authorId,\r\n  status: publish ? 'published' : 'draft',\r\n  published_at: publish ? new Date().toISOString() : null,\r\n};\r\n\r\nawait this.helpers.httpRequest({\r\n  method: 'POST',\r\n  url: `${supabaseUrl}/rest/v1/blog_posts`,\r\n  headers: {\r\n    ...headers,\r\n    'Content-Type': 'application/json',\r\n    Prefer: 'return=minimal',\r\n  },\r\n  body: row,\r\n  json: true,\r\n});\r\n\r\nreturn [{ json: { inserted: true, skipped: false, slug, driveFileId } }];\r\n"
      },
      "id": "code-sync-6006ffff",
      "name": "Insert into Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.inserted }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "if-inserted-7007aaaa",
      "name": "Inserted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.driveFileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1-PJqU7bP9u3ZHNNcFNpuLYRF5besFpKW"
        },
        "options": {}
      },
      "id": "gdrive-move-8008bbbb",
      "name": "Move to posted folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Every 15 minutes": {
      "main": [
        [
          {
            "node": "List queued JSON files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List queued JSON files": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Keep Drive file id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Drive file id": {
      "main": [
        [
          {
            "node": "Download JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download JSON": {
      "main": [
        [
          {
            "node": "Insert into Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase": {
      "main": [
        [
          {
            "node": "Inserted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserted?": {
      "main": [
        [
          {
            "node": "Move to posted folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to posted folder": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}